<%include ../partials/header%>
<div class="container">
   <div class="row">
       <!--<div class="col-md-3">-->
       <!--    <p class="lead">YelpCamp</p>-->
       <!--    <div class="list-group">-->
       <!--        <li class="list-group-item">item1</li>-->
       <!--        <li class="list-group-item">item1</li>-->
       <!--        <li class="list-group-item">item1</li>-->
       <!--    </div>-->
       <!--</div>-->
       <div class="col-md-9">
           <div class="thumbnail">
               <img calss="image-responsive" alt="<%=film.name%>" src="<%=film.image%>">
               <div class="caption-full">
                   <h4 class="pull-right">Year <%=film.year%></h4>
                   <h4><a><%=film.name%></a></h4>
                   <p><%=film.description%><</p>
                   
                   <p>  
                       <em>Submitted by: <%=film.author.username%></em>
                   <%if(rNum!=0){%>
                   <%var l=film.comments; var total=0; var validNum=0; l.forEach(function(c){ if(c.rating!=0){total=total+c.rating;validNum=validNum+1;}}); %>
                    <%if(validNum!=0){%><span class="pull-right";>Overall ratings: <%=total/validNum%></span><%}%>
                   <% }%>
                   
                   </p>
                   <%if(currentUser && film.author.id.equals(currentUser._id)){%>
                   <a class="btn btn-xs btn-warning" href="/films/<%=film._id%>/edit">Edit</a>
                   <form class="delete-form" action="/films/<%=film._id%>?_method=DELETE" method="POST">
                       <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                   </form>
                   <%}%>
               </div>
           </div>
           <div class="well">
                <div class="text-right">
                   <a href="/films/<%=film._id%>/comments/new" class="btn btn-success">Add New Comment</a>
                </div>
                <hr>
               
               <%film.comments.forEach(function(comment){%>
               <div class="row">
               <div class="col-md-12">
                  <strong><%=comment.author.username%></strong>
                  <% if(comment.rating!=0){%>
                  <span class="pull-right">Rating: <%=comment.rating%></span>
                  <% }%>
                  <!--<span class="pull-right">10 days ago</span>-->
                  <p><%=comment.text%></p>
                  <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                      <a class="btn btn-xs btn-warning" href="/films/<%=film._id%>/comments/<%=comment._id%>/edit">Edit</a>
                      <form class="delete-form" action="/films/<%=film._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                          <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                      </form>
                  <%}%>
              </div>
              </div>
              <%})%>
              
           </div>
       </div>
    </div> 
</div>


<%include ../partials/footer%>